.content-area {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content-area section {
  width: 100%;
}

.banner {
  width: 100%;
  height: 580px;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url(../images/goodend-cond01-banner.jpg);
  background-size: cover;
}

.banner h2 {
  font-weight: 500;
  font-size: 5rem;

  margin: 10rem 0 0 2rem;
  padding: 1rem;
}

.banner p {
  font-weight: 400;
  font-size: 1.3rem;

  margin-left: 2.3rem;
  padding: 1rem;
}

hr {
  width: 100%;
  color: var(--text-subtitle);
  margin: 2rem 0;
}

#sobre {
  display: flex;
  flex-direction: column;

  min-height: 580px;
  
  margin-bottom: 2rem;
  padding: 1rem;
}

#sobre h2 {
  font-weight: 500;
  font-size: 3.5rem;
}

.texto-sobre {
  background: var(--body-content1);
  border-radius: 10px;

  width: 95%;
  margin: 1rem auto 0 auto;
  padding: 1.5rem;
}

.texto-sobre p {
  font-weight: 400;
  font-size: 1.5rem;
}

.texto-sobre p + p {
  margin-top: 1rem;
}
